html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.hero-section {
  position: relative;
  width: 100%;
   margin: 0;
  padding: 0;
}

.HeroSection-img {
  display: inline;
  width: 100%;
  height: 700px; 
  filter: brightness(70%); 
}

.hero-text {
  position: absolute;
  top: 15%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color:#000033;
  text-align: center;
}
.hero-text .logo-img {
  height: 100px;
  width: 100px;
 

}


.hero-text h1 {
  font-size: 50px;
  font-weight: bold;
   color:#ffffff;
   text-shadow: 
    -1px -1px 0 #000033,  
     1px -1px 0 #000033,
    -1px  1px 0 #000033,
     1px  1px 0 #000033;
}

.hero-text p {
  font-size: 20px;
   color: #ffff;
 

}

@media (max-width: 768px) {

  .HeroSection-img {
   
    height: 400px;
 
  }

 
  .hero-text {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-text .logo-img {
    height: 60px;
    width: 80px;
  }

  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text p {
    font-size: 12px;
  }
}


/* الشاشات المتوسطة من 567px إلى 992px */
@media (min-width: 567px) and (max-width: 992px) {

  .HeroSection-img {
    height: 500px; 
    
  }

 

  .hero-text .logo-img {
    height: 80px;
    width: 80px;
  }

  .hero-text h1 {
    font-size: 36px; /* مناسب للشاشات المتوسطة */
  }

  .hero-text p {
    font-size: 16px;
  }
}

