.property-documentation-modern {
  color: #222;


}
 .property-management {
  direction: rtl;
  text-align: right;

}


.hero-section-modern {
  padding: 60px 20px;
}

.hero-section-modern .hero-img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.hero-text-modern h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #0a4d68;
  margin-bottom: 20px;
}

.hero-text-modern p {
  font-size: 1.15rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 25px;
}

.cta-btn {
  background-color: #0a4d68 !important;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background-color: #0a4d68;
}


.features .feature-card {
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  transition: all 0.3s ease;
}

.features .feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.feature-icon {
  color: #0a4d68;
  font-size: 2.7rem;
  margin-bottom: 15px;
  margin: auto;
}


.steps .step-card {
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.steps .step-card:hover {
  transform: translateY(-5px);
}

.steps .step-card h3 {
  font-size: 2rem;
  color: #0a4d68;
  margin-bottom: 15px;
}

.steps .step-card p {
  font-size: 1.05rem;
  color: #555;
  line-height: 1.7;
}

.contact-banner {
  background-color: #0a4d68 !important;
  color: #fff;
  padding: 60px 20px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 20px;

}

.contact-banner h3 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.contact-banner p {
  margin-bottom: 25px;
  font-size: 1.1rem;
  color: #eee;
  line-height: 1.7;
}



