.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px !important;
  height: 200px;
  font-size: 1.2rem;
  padding: 15px;
  gap: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #001F3F !important;
  border: none;
  border-radius: 50% !important;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff; 
  margin-bottom: 30px;
}

.icon-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.icon-button div {
  font-weight: bold;
  margin-top: 8px;
 
  
  
}


.custom-arrow{
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 60px;      
  height: 60px;     
  background-color:#001F3F;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 35px;   
  transform: translateY(-50%);
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}


.custom-arrow:hover {
  background-color: #fff;
  color: #001F3F;
}


.next {
  right: 10px;

}

.prev {
  left: 10px;

   
}
