.login-page {
  background-color: palegoldenrod;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  border: 5px solid #3A506B ;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  color: #D4AF37; 
  font-weight: bold;
}

.login-card a {
  color: #D4AF37;
  text-decoration: none;
}

.login-card a:hover {
  text-decoration: underline;
}
.button2{
  background-color: #D4AF37;
}
