.CardSection{

  padding-bottom: 20px;
}
.section-title h6 {
  color: #c9a857; 
  font-weight: bold;
}


.property-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  background: #fff;
  transition: transform 0.3s ease;
}

.property-card:hover {
  transform: translateY(-8px);
}

.property-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.property-info {
  padding: 15px;
  text-align: center;
}
.h{
  color: black !important;
}

.property-info h4 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #333;
}

.property-info .location {
  color: #777;
  font-size: 0.9rem;
}

.property-info .price {
  color: #c9a857;
  font-weight: bold;
  margin: 10px 0;
}

.details-btn {
  background-color: #c9a857;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #b89647;
}
