.sigCanvas {
  border: 2px solid #3A506B;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  height: 250px;
  background: transparent;
}
.DigitalSignature_h2{
  color: #3A506B;
  margin-bottom: 40px !important;
  
}

.Save{
  color: #fff !important; 
  background-color: #3A506B !important;

}