.OurTeam {
  padding: 80px 0;
  background-color: palegoldenrod;
  text-align: center;
  direction: rtl;
}

.section-subtitle {
  color: #b8860b;
  font-weight: bold;
  font-size: 20px;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.team-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #b8860b;
 
}



.team-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #b8860b;
  margin-top:20px ;

}

.team-info {
  padding: 20px;
}

.team-info h5 {
  color: #b8860b;
  font-weight: bold;
  margin-bottom: 5px;
}

.team-info h6 {
  color: #666;
  font-size: 15px;
}
